/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #2C3E50;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

table { table-layout: fixed; }
table th, table td { overflow: hidden; }
.table.table-condensed th {
    border-bottom: 2px solid #999; /* Change the color you want to set */
}